{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Components": "./app/src/components"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
