$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";

@import "~bulma/bulma";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/initial-variables";

html {
  height: 100%;
}

body {
  margin: 0px;
  height: -webkit-fill-available;
}

#target {
  height: -webkit-fill-available;
}

.image {
  &.is-thumbnail {
    // displays thumbnails in their own little letterboxed container
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $black;
    border-radius: $radius;

    &.is-loading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;

      &:after {
        @include loader;
        position: absolute;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        width: 5em;
        height: 5em;
        border-width: 0.25em;
      }
    }
  }
}

/*
 Scroll text on hover animation
 To add a <p> that scrolls it's overflow text horizontally on hover, we do:
 <div.column.has-min-width-0>
   <div.hover-scroll-x>
     <p>A p element with some veeeery looonggg text........</p>
   </div>
 </div>
*/
.column.has-min-width-0 {
  min-width: 0;
}
.hover-scroll-x {
  overflow: hidden;

  & > p {
    margin-left: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: 1s;
    transition-property: margin-left;
    transition-delay: 0s;
  }

  &:hover > p {
    margin-left: -100%;

    transition: 3.3s;
    transition-property: margin-left;
    transition-delay: 1s;
    transition-timing-function: linear;
  }
}
